@(studentForm: Form[Student])

@import helper._
@import helper.twitterBootstrap._

@main("Student form") {
    <h1>Product form</h1>
    @form(CSRF(routes.Students.save())) {
        <fieldset>
            <legend>Product (@studentForm("name").valueOr("New"))</legend>
            @helper.inputText(studentForm("stt"), '_label -> "STT")
            @helper.inputText(studentForm("ten"), '_label -> "Ho Ten")
            @helper.inputText(studentForm("ngaysinh"), '_label -> "Ngay sinh")
            @helper.inputText(studentForm("mssv"), '_label -> "MSSV")
            @helper.inputText(studentForm("diachi"), '_label -> "Dia chi")
            @helper.inputText(studentForm("email"), '_label -> "E-mail")
        </fieldset>
        <input type="submit" class="btn btn-primary" value="Save">
        <a class="btn" href="@routes.Students.list()">Cancel</a>
    }
}