@(students: List[Student])
@main("Students catalogue") {  <h2>All students</h2>
    <script>
    function del(urlToDelete) {
    $.ajax({
    url: urlToDelete,
    type: 'DELETE',
    success: function(results) {
    // Refresh the page
    location.reload();
            }
        });
    }
    </script>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>STT</th>
                <th>Ho Ten</th>
                <th>Ngay sinh</th>
                <th>MSSV</th>
                <th>Dia chi</th>
                <th>E-mail</th>
                <th>DELETE</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
        @for(student <- students) {
            <tr>
                <td><a href="@routes.Students.details(student)">
                @student.stt</a></td>
                <td><a href="@routes.Students.details(student)">
                @student.ten</a></td>
                <td><a href="@routes.Students.details(student)">
                @student.ngaysinh</a></td>
                <td><a href="@routes.Students.details(student)">
                @student.mssv</a></td>
                <td><a href="@routes.Students.details(student)">
                @student.diachi</a></td>
                <td><a href="@routes.Students.details(student)">
                </td>

                @*<td>@if(student.date != null) {*@
                @*/@student.date.format("dd-MM-yyyy")/*@
                @*}</td>*@
                <td><a onclick="del('@routes.Students.delete(student.mssv)')">
                    <span class="glyphicon glyphicon-trash"></span>
                </a></td>
            </tr>
        }
        </tbody>
    </table>

    <a href="@routes.Students.newStudent()" class="btn btn-primary">New student</a>
}